<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand text-light" [routerLink]="['/']">DatingApp</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <div *ngIf="(accountService.currentUser$ | async) as user" class="dropdown" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.userName | titlecase}}</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>

        <form *ngIf="(accountService.currentUser$ | async) === null" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()">
          <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control mr-sm-2"
            type="text"
            placeholder="Username">
          <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2"
            type="password"
            placeholder="Password">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>

        <ul class="navbar-nav flex-grow">
          <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item"
                [routerLinkActive]="['active']">
              <a class="nav-link text-light" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item"
                [routerLinkActive]="['active']">
              <a class="nav-link text-light" [routerLink]="['/members']">Members</a>
            </li>
            <!--<li class="nav-item"
                  [routerLinkActive]="['active']">
                <a class="nav-link text-light" [routerLink]="['/membersdetail']">Details</a>
              </li>-->
            <li class="nav-item"
                [routerLinkActive]="['active']">
              <a class="nav-link text-light" [routerLink]="['/lists']">Lists</a>
            </li>
            <li class="nav-item"
                [routerLinkActive]="['active']">
              <a class="nav-link text-light" [routerLink]="['/messages']">Messages</a>
            </li>
            <!--<li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-light" [routerLink]="['/counter']">Counter</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-light" [routerLink]="['/fetch-data']">Fetch data</a>
              </li>-->
          </ng-container>
        </ul>

      </div>
    </div>
  </nav>
</header>
